@model GameView
@{
    ViewData["Title"] = "Details";
}
<div class="banner">
    <div class="bnr2">
    </div>
</div>
<div class="container">
    <div class="blog">
        <div class="container">
            <div class="col-md-8 blog-left">
                <div class="blog-info">
                    <input id="Gameid" value="@Model.GameId" />
                    <input id="UserId" value="@Model.UserId" />
                    @if (@Model.UserName != null)
                    {
                        <input id="gameid1" value="@Model.Categorys.FirstOrDefault().CategoryId" hidden/>
                    }
                    else
                    {
                        <input id="gameid1" value="2" />
                    }
                    <h1 style="font-size: 4em; line-height: 1.1; color: #29292f;">
                        @Model.GameName
                    </h1>
                    <hr />
                    <div class="blog-info-text">
                        <div class="blog-img">
                            @if (@Model.UserName != null)
                            {
                                <img src="~/images/@Model.Images.FirstOrDefault().PathImage" alt="error" />
                            }
                            else
                            {
                        <img src="~/images/02b1cafb-7e4c-49ce-a372-2af8bbaa01f2_9-600x400.png" alt="error" />
                            }
                        </div>
                        <hr />
                        @Html.Raw(Model.Desciption);
                    </div>
                    <div class="comment-icons">
                        <ul>
                            <li><span></span><a href="#">Lorem ipsum dolor sit</a> </li>
                            <li><span class="clndr"></span>@Model.CreateDate.ToString("MMM, dd,yyyy")</li>
                            <li><span class="admin"></span> <a href="#">@Model.UserName</a></li>
                            <li><span class="cmnts"></span> <a href="#">5 comments</a></li>
                            <li><a href="#" class="like">15</a></li>
                        </ul>
                    </div>
                    <div class="response">
                        <h4>Responses</h4>
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#">
                                    <img class="media-object" src="~/template/images/icon1.png" alt="" />
                                </a>
                                <h5><a href="#">Admin</a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li>MARCH 21, 2013</li>
                                    <li><a href="single.html">Reply</a></li>
                                </ul>
                                <div class="media response-info">
                                    <div class="media-left response-text-left">
                                        <a href="#">
                                            <img class="media-object" src="~/template/images/icon1.png" alt="" />
                                        </a>
                                        <h5><a href="#">Admin</a></h5>
                                    </div>
                                    <div class="media-body response-text-right">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                            sed do eiusmod tempor incididunt ut labore et.
                                        </p>
                                        <ul>
                                            <li>MARCH 21, 2014</li>
                                            <li><a href="single.html">Reply</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div id="add">
                            
                        </div>

                    </div>
                </div>
                <div class="coment-form">
                    <h4>Leave your comment</h4>
                    <form>
                        <input type="text" value="Name " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="text" value="Subject " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" required="">
                        <input type="text" value="Email (will not be published)*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email (will not be published)*';}" required="">
                        <textarea id="text" placeholder="Your Comment..."></textarea>
                        <input type="submit" value="SUBMIT" id="Post">
                    </form>
                </div>
            </div>
            <div class="col-md-4 single-page-right">
                <div class="category blog-ctgry">
                    <h4>Top Games</h4>
                    <div class="list-group">
                        <a href="single.html" class="list-group-item">Cras justo odio</a>
                        <a href="single.html" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="single.html" class="list-group-item">Morbi leo risus</a>
                        <a href="single.html" class="list-group-item">Porta ac consectetur ac</a>
                        <a href="single.html" class="list-group-item">Vestibulum at eros</a>
                        <a href="single.html" class="list-group-item">Cras justo odio</a>
                        <a href="single.html" class="list-group-item">Cras justo odio</a>
                        <a href="single.html" class="list-group-item">Cras justo odio</a>
                    </div>
                </div>
                <div class="recent-posts">
                    <h4>Game tương tự</h4>
                    
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
@section scripts{ 
<script>
    var CategoryId = parseInt(document.getElementById('gameid1').value);
    
    var GameId = parseInt(document.getElementById('Gameid').value);
    debugger;
    var GetGameByCategory = function (id) {
        $.ajax({
            url: `/game/getbycategory/${id}`,
            method: 'GET',
            dataType: 'JSON',
            success: function (response) {
                var dem = 0;
                $.each(response.result, function (i, v) {
                    dem++;
                    if (dem > response.result.length - 3) {
                        $('.recent-posts').append(`
                        <div class="recent-posts-info">
                            <div class="posts-left sngl-img">
                                <a href="#"> <img src="images/" class="img-responsive zoom-img" alt="" /> </a>
                            </div>
                            <div class="posts-right">
                                <label>March 5, 2015</label>
                                <h5><a href="single.html">Finibus Bonorum</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing incididunt.</p>
                                <a href="single.html" class="btn btn-primary hvr-rectangle-in">Read More</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    `);
                    }
                })
            }
        });

    };
    $("#Post").click(function () {
        var saveObj = {};
        saveObj.text = $('#text').val();
        saveObj.gameId = parseInt($('#Gameid').val());
        saveObj.userId = $('#UserId').val();
        debugger;
        $.ajax({
            url: '/Post/save',
            method: 'POST',
            data: saveObj,
            success: function (response) {
                console.log(response);
                bootbox.alert(response.data.message);
            }
        });
    });
    var GetComment = function (id) {
        $.ajax({
            url: `/Post/Gets/${id}`,
            method: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                $.each(response.result, function (i, v) {
                    $("#add").append(`
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="~/template/images/icon1.png" alt="error" />
                                    </a>
                                    <h5><a href="#">Admin</a></h5>
                                </div>
                                    <div class="media-body response-text-right">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        <ul>
                                            <li>MARCH 21, 2013</li>
                                            <li><a href="single.html">Reply</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"> </div>
                        </div>
                        `);

                });
            }
        });
    }
    $(document).ready(function () {
        GetGameByCategory(CategoryId);
        GetComment(GameId);
    });
</script>
}