@using GameHub.Domain.Common1
@model PagedResult<GameHub.Domain.Request.User.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th>
                FullName
            </th>
            <th>
                Address
            </th>
            <th>
                Gender
            </th>
            <th>
                Dob
            </th>
            <th>
                Company
            </th>
            <th>
                Facebook
            </th>
            <th>
                Image
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                <img width="70" style="border-radius: 50%" src="~/images/Avatar/@item.ImagePath" alt="avatar" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Role", "RoleAssign", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
